<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Gracias por visitar nuestro sitio!, a continuación enlaces importantes:</span>
      </div>
      <!-- Left -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Mundo Consolas
            </h6>
            <p>
              Sitio web especializado en el mundo de los videojuegos.
              <br>
              Somos un grupo de desarrolladores de software que quieren compartir información interesante sobre juegos y compañías.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Redes
            </h6>
            <p>
              <a href="https://gitlab.com/pzkevin/proyecto-1" class="text-reset">GitLab</a>
            </p>
            <p>
              <a href="https://twitter.com/pzkevin00" class="text-reset">Twitter</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Bulevard de los Seris Final Sur S/N, Parque Industrial, 83299 Hermosillo, Son.</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              a20311111@uthermosillo.edu.mx
            </p>
            <p><i class="fas fa-phone me-3"></i> + 52 662 402 090 1</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->