<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="800" width="auto" src="https://as01.epimg.net/meristation/imagenes/2019/04/21/noticias/1555855056_688829_1555855311_sumario_normal.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img height="800" width="auto" src="https://as01.epimg.net/meristation/imagenes/2019/04/21/noticias/1555855056_688829_1555855337_sumario_normal.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img height="800" width="auto" src="https://as01.epimg.net/meristation/imagenes/2019/04/21/noticias/1555855056_688829_1555855362_sumario_normal.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>