p{
    text-align: center;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.center {
    margin: auto;
    width: 60%;
    border: 5px solid #ff0000;
    padding: 10px;
    }