<div class="center">
    <p>{{paragrapth1}}</p>
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/MpGM8bwu6kI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>{{paragrapth2}}</p>
    <p>{{paragrapth3}}</p>
</div>
