<div class="row">
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src="https://compass-ssl.xbox.com/assets/f0/85/f085c120-d3d5-4424-8b70-eb25deaa326e.png?n=XBX_A-BuyBoxBGImage01-D.png">
        <h4>Xbox Series X</h4>
    </div>
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src="https://gmedia.playstation.com/is/image/SIEPDC/playstation-5-with-dualsense-front-product-shot-01-ps5-en-30jul20?$native--t$">
        <h4>PlayStation 5</h4>
    </div>
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src="https://assets.nintendo.com/image/upload/b_white,c_pad,f_auto,h_382,q_auto,w_573/ncom/en_US/switch/site-design-update/hardware/switch/nintendo-switch-oled-model-neon-red-neon-blue-set/gallery/image03?v=2022021721">
        <h4>Nintendo Switch Oled</h4>
    </div>
</div><br>
<div class="row">
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Microsoft-Xbox-One-Console-wKinect.png/1200px-Microsoft-Xbox-One-Console-wKinect.png">
        <h4>Xbox One</h4>
    </div>
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src="https://m.media-amazon.com/images/I/61n-yWHcmSS._AC_SX522_.jpg">
        <h4>PlayStation 4</h4>
    </div>
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Wii_U_Console_and_Gamepad.png/1920px-Wii_U_Console_and_Gamepad.png">
        <h4>Wii U</h4>
    </div>
</div><br>
<div class="row">
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src="https://ae01.alicdn.com/kf/U18a4c75afef949fc905bbcccba2352786/Xbox-360-slim-250GB-con-juegos-freeboot-usado.jpeg">
        <h4>Xbox 360</h4>
    </div>
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src="https://i.blogs.es/feaa2f/nueva_sony_ps3_slim/450_1000.jpg">
        <h4>Playstation 3</h4>
    </div>
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src="https://upload.wikimedia.org/wikipedia/commons/8/83/Wii_console.png">
        <h4>Wii</h4>
    </div>
</div><br>


<div class="row">
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src={{image1}}/>
        <div class="col-lg-4"><h4>{{text1}}</h4></div>
    </div>
     <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src={{image2}}/>
    <div class="col-lg-4"><h4>{{text2}}</h4></div>
    </div>
    <div class="col-lg-4">
        <img style="height: 280px;width: auto;" src={{image3}}/>
     <div class="col-lg-4"><h4>{{text3}}</h4></div>
    </div>
</div><br>