<body style="background-color:rgb(192, 192, 192)">
<div>
  <app-header></app-header>
</div>
<div>
  <app-hero-top></app-hero-top>
</div>
<div class="container" style="background-color:rgb(255, 255, 255)">
  
  <div class="center" style="width: auto;">
    

    <div id="consolas">
      <app-titles [titles]="'Consolas a través de los años'"></app-titles>
    </div>
  
    <div>
      <app-article></app-article>
    </div>
  
    <div>
      <app-trinity-items>
      </app-trinity-items>
    </div>
  
    <div>
      <app-titles [titles]="'Nintendo se encuentra en su mejor momento'"></app-titles>
    </div>
  
    <div>
      <app-hero 
      [paragrapth1]="'Nintento está en la mira por adelantarse a las compañías millonarias con sus consolas portatiles, atrayendo a todos los desarrolladores de videojuegos indies, por lo que te recomendamos ver el siguiente video narrando la historia de las consolas de esta compañía'" 
      [paragrapth2]="'La Nintendo Switch sigue escalando posiciones en el salón de la fama de los videojuegos. Con 103,5 millones de unidades vendidas desde su lanzamiento en 2017, la Switch, cuyas ventas se dispararon con la pandemia de coronavirus, se ha convertido en la consola doméstica más popular de la larga historia de éxitos y fracasos de Nintendo.'"
      [paragrapth3]="'En los últimos 21 meses, Nintendo ha vendido casi 48 millones de unidades de la Switch, elevándola por encima de la PlayStation original y la Wii para convertirse en la tercera consola de sobremesa más vendida de todos los tiempos. Y el éxito podría haber sido aún mayor si el suministro no se hubiera visto limitado por la escasez mundial de chips, que obligó a Nintendo a recortar sus perspectivas de ventas por segundo trimestre consecutivo.'">
    </app-hero>
    </div>
  
    <div id="empresas">
      <app-item-view></app-item-view>
    </div>
  </div>

</div>

<div>
  <app-footer></app-footer>
</div>

</body>

