h1{
    text-align: center;
    color: #000000;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title{
    border:0px solid #000000;
    width: 70%;
    margin-left: 15%;
}