.center {
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
    }

h3{
    text-align: center;
    color: #000000;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}