<br>
<h3>Empresas mas grandes de consolas</h3>
<hr>
<div class="row">
    <div class="col-lg-4">
        <img style="height: 250px;width: auto;" src="https://cdn-3.expansion.mx/dims4/default/d43042a/2147483647/strip/true/crop/704x496+0+0/resize/1800x1268!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2Ffc%2F43%2Ffa08027e4c5da8fb975eeab89bae%2Fmicrosoft-union-europea.jpg">
        <a href="https://es.wikipedia.org/wiki/Microsoft">Microsoft</a>
    </div>
    <div class="col-lg-4">
        <img style="height: 250px;width: auto;" src="https://media.istockphoto.com/photos/sony-interactive-entertainment-offices-in-silicon-valley-picture-id1174036377?k=20&m=1174036377&s=170667a&w=0&h=vAG4r6wkjETXj6jJWQSWZAWxdszd5jrEThw-f8vu1eo=">
        <a href="https://es.wikipedia.org/wiki/Sony">Sony</a>
    </div>
    <div class="col-lg-4">
        <img style="height: 250px;width: auto;" src="https://media.glassdoor.com/l/643317/nintendo-of-europe-office.jpg">
        <a href="https://es.wikipedia.org/wiki/Nintendo">Nintendo</a>
    </div>
</div><br>
