/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

h1{
    color:chocolate;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}